* {
    margin: 0;
    padding: 0;
}
/* told every element on the page to not have any margin or border unless we explicitly tell it to */

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* apply styls to <header> */

header {
    padding: 20px 35px; /* Applies 20px to the top and bottom, then 35px to the left and right of the header */
    background-color: #39a6b2;
    margin: 15px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    color: #fce138;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    
}